@model Auto
@{
    ViewData["Title"] = "Borrar auto";
}
<h3> Estas seguro que deseas borrar el auto con placas @Model.Placas?</h3>

<form asp-action="BorraAuto">
    
    <input type="hidden" asp-for="Id"/>

    <button type="submit" class="btn btn-danger">Borrar </button>
    <a class="btn btn-secondary" asp-action="IndexAutos">Cancelar</a>
</form>