

@{
    ViewData["Title"] = "Generar reporte";
    var nombreReporte = "1234";
}

<h1>Generar reporte</h1>

<div asp-validation-summary="All" class="text-danger"></div>

<div class="row">
    <div class="mb-3 col-sm-12 col-md-6 col-lg-3">
        <label for="nombreArchivo" class="form-label">Nombre del reporte:</label>
        <input type="text" class="form-control" id="nombreArchivo" name="nombreArchivo" />
    </div>

</div>
<div class="row">
    <div class="mb-3 col-sm-3 col-md-3 col-lg-3">
        <a asp-action="ExportarExcel" class="btn btn-success">Generar reporte</a>
        <a class="btn btn-secondary" asp-action="IndexEntradasSalidas">Cancelar</a>
    </div>

</div>